.products {
    max-width: 1181px;
    height: 1133px;
    padding-left: 129px;
}

.products__img {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 36px;
    height: auto;
    justify-items: center;
    margin-bottom: 60px;
}

.product img {
    width: 100%;
    border-radius: 4px;
}

.products__description {
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: #444B58;
    font-size: 16px;
    font-weight: 600;
    line-height: 23px;
    margin-top: 10px;
}

.products__button {
    padding-bottom: 60px;
   display: flex;
    justify-content: center;
}