.button {
    border-radius: 4px;
    padding: 22px 47px;
    cursor: pointer;
    transition: background 0.25s;
    font-size: 16px;
    border: none;
}

.accent:hover {
    background: #8C2828;
}

.accent {
    background: #F14F4F;
}
