.button {
    border-radius: 4px;
    padding: 22px 40px;
    cursor: pointer;
    transition: background 0.25s;
    font-size: 16px;
    border: none;
    width: 200px;
    height: 67px;
}

.accent:hover {
    background: #8C2828;
}

.accent {
    background: #F14F4F;
}

.button text {
    font-size: 16px;
    font-weight: 400;
    line-height: 23px;
}
