.hero {
    background: #484283;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    max-width: 1440px;
    height: 500px;
}

.hero:active {
    color: #C4C4C4;
    text-decoration: underline;
}