.main {
    background: #FFFFFF;
    height: 1540px;
    width: 100%;
}

.main__head {
    display: flex;
    flex-direction: column;
    gap: 43px;
    padding-left: 130px;
    padding-top: 54px;
}

.main__search {
    display: flex;
    gap: 20px;
    margin-bottom: 40px;
}